html {
    --color-accent: oklch(43.331% 0.26421 266.404);
    accent-color: var(--color-accent);
}
body {
    /*Set line height to 1.5 times the font size
    */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 0 1rem;
}
ul {
    display: contents;
}
li {
    display: contents;
}
nav {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
}
nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.1rem;
}
nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1rem;
}
nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1rem;
    background-color: oklch(80.992% 0.09748 280.771);
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}
article {
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}
h1{
    font-size: 400%;
    line-height: 1.1;
    text-wrap: balance;
}
h2 {
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}
h3 {
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}
h4 {
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}
h5 {
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}

