html {
    --color-accent: oklch(43.331% 0.26421 266.404);
    accent-color: var(--color-accent);
}
body {
    /*Set line height to 1.5 times the font size
    */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 0 1rem;
}
nav ul {
    display: contents;
}
nav li {
    display: contents;
}
nav {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
}
nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.1rem;
}
nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1rem;
}
nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1rem;
    background-color: oklch(80.992% 0.09748 280.771);
}
h1{
    font-size: 400%;
    line-height: 1.1;
    text-wrap: balance;
}
h2 {
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}
h3 {
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}
h4 {
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}
h5 {
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
main h1,
.resume-wide {
    grid-column: 1 / -1;
}
main article,
main section {
    border-top: 0.2em solid var(--color-accent);
    padding: 1em;
}
main h2 {
    border-bottom: 1px solid oklch(80% 3% 200);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}
main h3 {
    margin-top: 1em;
}